apiVersion: apps/v1
kind: Deployment
metadata:
  name: justic-web        # 기존 Service/Route와 이름 통일
  namespace: justic
  labels:
    app: justic-web       # 기존 Service의 Selector와 일치해야 함
spec:
  replicas: 1
  selector:
    matchLabels:
      app: justic-web
  template:
    metadata:
      labels:
        app: justic-web
    spec:
      imagePullSecrets:
      - name: regcred
      containers:
      - name: justic-web
        # GitHub Actions가 덮어씌울 이미지 주소
        image: 536548358674.dkr.ecr.ap-northeast-2.amazonaws.com/team1-web:0beb899c4451df918ac9d9f3715542c23af6d010
        imagePullPolicy: Always
        ports:
        - containerPort: 8080 # Route가 8080을 바라보고 있으므로 중요!
        # env, envFrom 섹션 삭제 (설정 파일 없음) 